<form method="post" action="{{ path('app_equipment_delete', {'id': equipment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet équipement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="btn btn-outline-danger"><i class="bi bi-trash3 me-2"></i>Supprimer l'équipement</button>
</form>
