<footer id="sticky-footer" class="footer footer-dark flex-shrink-0 py-3 bg-dark text-white-50">
	<div class="container-fluid text-center">
		<small>
			<span class="text-start">
				<strong>Meg Studio</strong>
				17 Allée Groove 33000 BORDEAUX</span>
			<span class="me-2">&copy; Copyright 2023 Meg Dev</span>
			|
			<a href="#">
				<i class="bi bi-envelope-at ms-2 me-2"></i>
				<span class="me-2">Nous contacter</span>
			</a>
			|
			<a href="{{ path('app_legal_mentions') }}">
				<i class="bi bi-file-earmark-text ms-2 me-2"></i>
				<span>Mentions légales</span>
			</a>
		</small>
	</div>
</footer>
