<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top shadow-lg-light">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('build/images/logo-studio.png') }}" alt="Logo Meg Studio" height="36" class="me-2">
			<strong>Meg</strong>
			Studio
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto ">
				<li class="nav-item ">
					<a class="nav-link" href="/">Accueil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/#tarifs">Tarifs</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_equipment_presentation') }}">Equipement</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact_us') }}">Nous contacter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
