@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Silkscreen&display=swap');

//TYPO
$typo: 'Lexend Deca', sans-serif;

// BACKGROUND -- BLACK
$background-color-inverse-soft: rgb(31, 39, 50);
$black: #090909;

$first-color: rgb(235, 230, 230);

$second-color: #11C02D;