{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="home text-center">
        <h1><strong class="second-color">Mince, fausse note !</strong>
            <br>Il semblerait que la page recherchée n'existe pas !</h1>
        <a class="btn button-ok mb-3" href="/">Retour à l'accueil</a>
    <div class="text-center">
    <img src="https://images.pexels.com/photos/9504092/pexels-photo-9504092.jpeg" alt="No signal" class="img-error img-fluid rounded-2">
    </div>

    </div>
{% endblock %}